<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    {% include "head.njk" %}
  </head>

  <body>
    <div class="page">
      {#
  Use Every Layout's sidebar layout:
  https://absolutely.every-layout.dev/layouts/sidebar/
  #}
      <div class="with-sidebar">
        <div>
          <div class="sidebar">

            <header role="banner" class="cluster">
              <div>
                <div class="sitelogo-parent">
                  {% if page.url == '/' %}
                    <h1 class="sitelogo">{{ pkg.title }}</h1>
                  {% else %}
                    <p class="sitelogo">
                      <a href="/">{{ pkg.title }}</a>
                    </p>
                  {% endif %}
                </div>
                <div>
                  {% include "components/navigation.njk" %}
                </div>
              </div>
            </header>

          </div>
          <div class="not-sidebar">
            <main role="main">
              {% block content %}
                {{ content | safe }}
              {% endblock %}
            </main>
            <center style="margin-top: 75px;">
              <div style="display: inline-block; border: 2.5px dashed yellow; padding: 3px; border-radius: 10px;">
                <b>Publicidad autorizada:</b><br>
                <!-- Revive Adserver Etiqueta JS asincrónica - Generated with Revive Adserver v6.0.6 -->
                <ins data-revive-zoneid="3" data-revive-id="0545eb73b68f0f5f5babda2ec68686f6"></ins>
                <script async src="//ci.innercys.eu/rev/www/delivery/asyncjs.php"></script>
              </div>
            </center>
          </div>
        </div>
      </div>
      {% include "components/footer.njk" %}
    </div>
  </body>

</html>
