---
title: Page not available while offline
permalink: offline/fallback.html
---

<p><strong>Parece que no tienes internet</strong>, y la pagina que estabas buscando no esta cacheada.</p>
<p>Mientras esperas a que vuelva el internet, puedes <a href="/offline/">ver algunas paginas cacheadas</a>.</p>
